<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/actions/setup-java/issues/85 -->
<settings>
	<servers>
		<server>
			<id>sonatype-nexus</id>
			<username>${env.SERVER_USERNAME}</username>
			<password>${env.SERVER_PASSWORD}</password>
		</server>
		<server>
			<id>github.com</id>
			<username>nope</username>
			<password>${env.GIT_ACTION_TOKEN}</password>
		</server>
	</servers>
</settings>
